@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    .content{
        flex-direction: column;
    
    }
    
    .content h2 {
        font-size: 2em;
    }

    .content p {
        font-size: 1em;
    }   

    .wrapper-login {
        float: left;
    }

}